@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 375px;
    background-color: var(--off-black);
}

ul {
    list-style: none;
}

.color-white {
    color: var(--white);
}

.content {
    background-color: var(--dark-grey);
    text-align: center;
    padding: 2em;
    width: 260px;
    border-radius: 10px;
}

.personal-info img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
}

.personal-info .name {
    font-weight: 500;
    font-size: 1.4em;
    margin-top: 1em;
    margin-bottom: .4em;
}

.personal-info .location {
    color: var(--green);
    font-weight: 700;
    font-size: .8em;
    margin-bottom: 2em;
}

.personal-info .profission {
    font-size: .8em;
    opacity: .7;
    margin-bottom: 1.7em;
}

.links li {
    background-color: var(--grey);
    margin-bottom: 1em;
    padding: .9em;
    font-size: .9em;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
}

.links li:hover {
    background-color: var(--green);
    color: var(--off-black);
    transition: .1s ease;
}

.links li:nth-child(5) {
    margin-bottom: 0em;
}